package auth

import "github.com/meetaayush/gotask/views/layouts"
import "github.com/meetaayush/gotask/models"

templ Signup(tm *models.TemplateModel) {
    @layouts.Base(tm.StringMap["title"]) {
        <div>   
            <h2 class="text-red-500">Signup here | Register a new account</h2>
        </div>
    }
}