package auth

import "github.com/meetaayush/gotask/views/layouts"

templ Signup() {
    @layouts.Base("Signup | Register new account") {
        <div>   
            <h2>Signup here | Register a new account</h2>
        </div>
    }
}