package pages

import "github.com/meetaayush/gotask/views/layouts"
import "github.com/meetaayush/gotask/models"

templ Home(tm *models.TemplateModel) {
    @layouts.Base(tm.StringMap["title"]) {
        <div id="home">
            <h1>This is the home page</h1>
        </div>
    }
}