package pages

import "github.com/meetaayush/gotask/views/layouts"

templ Home() {
    @layouts.Base("Homepage") {
        <div id="home">
            <h1>This is the home page</h1>
        </div>
    }
}