package pages

import "github.com/meetaayush/gotask/views/layouts"
import "github.com/meetaayush/gotask/models"

templ Home(tm *models.TemplateModel) {
    @layouts.Base(tm.StringMap["title"]) {
        <div id="home">
            <div class="text-lg font-bold text-blue-500">This is the home page</div>
        </div>
    }
}